@import '../../styles/variables';
@import '../../styles/utils';

.button {
  position: relative;
  display: inline-block;
  width: auto;
  min-width: 2em;
  font-size: 0.85em;
  text-transform: uppercase;
  padding: 0.66rem 1.75rem;
  margin-right: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 2rem;
  outline: 0;
  @extend .u-shadows;

  &:last-child {
    margin-right: 0;
  }

  a > & {
    margin-right: 1rem !important;
  }

  &.primary,
  &.is-active {
    background-color: $primary;
    color: $secundary;

    &:hover {
      @extend .t-primary--hover;
    }
  }

  &.secundary {
    background-color: $secundary;
    color: $primary;
  }
}