@import './normalize';
@import './variables';
@import './utils';

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 300;
  text-transform: normal !important;
  color: currentColor;
  opacity: 0.65;
  transition: all 0.2s;
}
::-moz-placeholder {
  font-style: italic;
  font-weight: 300;
  text-transform: normal !important;
  color: currentColor;
  opacity: 0.65;
  transition: all 0.2s;
}
:-ms-input-placeholder {
  font-style: italic;
  font-weight: 300;
  text-transform: normal !important;
  color: currentColor;
  opacity: 0.65;
  transition: all 0.2s;
}
:focus::-webkit-input-placeholder {
  opacity: 0.35;
}
:focus::-moz-placeholder {
  opacity: 0.35;
}
:focus:-ms-input-placeholder {
  opacity: 0.35;
}
:not(:focus)::-webkit-input-placeholder {
  opacity: 0.65;
}
:not(:focus)::-moz-placeholder {
  opacity: 0.65;
}
:not(:focus):-ms-input-placeholder {
  opacity: 0.65;
}