@import './variables';

.t-primary {
  color: $primary;

  &--hover {
    background-color: $primary-dark;
    color: $secundary;
  }
}

.t-secundary {
  color: $secundary;

  &--hover {
    background-color: $secundary-dark;
    color: $primary;
  }
}

.u-text-center {
  text-align: center;
}

.u-text-right {
  text-align: right;
}

.u-margin-top {
  margin-top: 15px !important;

  &-small {
    margin-top: 7.5px !important;
  }

  &-great {
    margin-top: 30px !important;
  }

  &-none {
    margin: 0 !important;
  }
}

.u-align-center {
  display: flex;
  align-items: center;
}

.u-justify-center {
  display: flex;
  justify-content: space-between;
}

.u-clickable {
  cursor: pointer;
}

.u-shadows {
  box-shadow: 0 0px 5px $shadow-color, 0 2px 0px $shadow-color;
}

.u-invisible {
  visibility: hidden;
}

.u-only-mobile {
  display: none;
}

.js-disabled {
  opacity: 0.5;
  pointer-events: none;
}

@media (max-width: $media-query-tablet) {
  .u-only-mobile {
    display: inline-block;
  }

  .u-mobile {
    &-column {
      flex-direction: column;
    }

    &-margin {
      &-none {
        margin: 0 !important;
      }
  
      &-bottom {
        margin-bottom: 15px !important;

        &-small {
          margin-bottom: 10px !important;
        }

        &-big {
          margin-bottom: 30px !important;
        }
      }
    }
  }
}