@import '../../styles/variables';
@import '../../styles/utils';

.sidebar {
  background-color: $primary;
  width: 15vw;
  min-width: 245px;
  min-height: 100vh;
  color: $secundary;

  &__logo {
    display: block;
    height: auto;
    max-width: 100%;
    padding: 24px 20px;
    margin: 0 auto;
  }
  
  h1,
  a {
    padding: 0 30px;
  }

  li {
    overflow: hidden;

    a {
      display: inline-block;
      width: 100%;
      font-size: 0.9em;
      text-transform: uppercase;
      padding-top: 20px;
      padding-bottom: 20px;
      line-height: 1.5;
  
      &:hover,
      &.active {
        @extend .t-primary--hover
      }

      &.active {
        border-left: 5px solid $secundary;
      }

      svg {
        font-size: 1.5em;
        margin-right: 0.5em;
        vertical-align: sub;
      }
    }
  }

  @media (max-width: $media-query-tablet) {
    position: fixed;
    width: 320px;
    transition: all .3s;
    transform: translateX(-100%);
    z-index: 1;

    &.is-active {
      transform: translateX(0);
    }

    &__logo {
      position: absolute;
      width: 80%;
      bottom: 0;
      left: 0
    }

    h1 {
      margin-top: 75px;
    }

    nav {
      margin-top: 65px;
    }
  }
}