@import '../../styles/variables';

.footer {
  width: 100%;
  font-size: 0.9em;
  align-items: center;
  justify-content: flex-end;

  &__container {
    padding: 10px;
  }

  p {
    margin: 0 0 5px 0;

    &:last-child {
      margin: 0;
    }
  }

  svg {
    vertical-align: middle;
  }
}