@import '../../styles/variables';
@import '../../styles/utils';

table {
  font-size: 0.9em;
  margin-bottom: 2rem;
  border-collapse: collapse;

  &.vertical {
    display: flex;

    thead {
      flex: 1;

      th {
        text-align: left;
      }
    }

    tbody {
      flex: 3;

      tr {
        &:hover {
          background-color: transparent;
        }
      }

      td {
        height: 42.6px;
        padding: 0;

        &:hover:not([disabled]) {
          background-color: rgba(0, 0, 0, .033);
        }
      }
    }

    tr {
      display: flex;
      flex-direction: column;
    }

    th,
    td {
      display: flex;
      align-items: center;
      padding-left: 1em;
      box-shadow: -1px 1px 0 $shadow-color;

      &:last-child {
        box-shadow: -1px 0 0 $shadow-color;
      }
    }
  }

  thead {
    font-size: 0.85em;
    font-weight: bold;
    color: $text-color-light;
    text-align: left;
    text-transform: uppercase;
    box-shadow: 0 1px 2px $shadow-color;

    th {
      padding: 1em 0;

      svg {
        transform: translate(0.5em, 0.2em) scale(1);
      }

      .u-clickable {
        &:hover {
          color: $text-color;
        }
      }
    }
  }

  tbody {
    tr {
      &:hover {
        background-color: rgba(0, 0, 0, .033);
      }

      &.read-only {
        td {
          input {
            color: $text-color-light;
          }
        }
      }
    }

    td {
      padding: 0.75em 0;

      &:first-child {
        a {
          color: $primary;
        }
      }

      &:not(:first-child) {
        color: $text-color-light;
      }
    }
  }

  th,
  td {
    box-shadow: 0 1px 0px $shadow-color;
    overflow: hidden;

    &:first-child {
      padding-left: 1em;
    }
  }

  input {
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding-left: 1em;
    border: none;
    outline: 0;
  }

  @media (max-width: $media-query-tablet) {
    box-shadow: none;

    tbody,
    tr,
    td {
      display: flex;
      text-align: center;
      flex-direction: column;
    }

    &:not(.vertical) {
      thead {
        tr {
          margin-bottom: 15px;
          box-shadow: 0 0px 5px $shadow-color, 0 2px 0px $shadow-color, 0 15px $background-body;
        }
      }
  
      tbody {
        tr {
          margin-bottom: 15px;
          box-shadow: 0 0px 5px $shadow-color, 0 2px 0px $shadow-color, 0 15px $background-body;
    
          &:last-child {
            margin-bottom: 0;
          }
        }
  
        td {
          padding-left: 0 !important;
          padding-right: 0 !important;
  
          &:last-child {
            flex-direction: row;
            justify-content: center;
          }
        }
      }
    }

    &.vertical {
      thead {
        box-shadow: none;
      }
      
      tbody {
        flex: 3;

        td {
          padding: 0;

          &:last-child {
            box-shadow: 0 1px 0px #ffffff;
          }
        }
      }

      th,
      td {
        box-shadow: 0 1px 0px $shadow-color;
      }
    }
  }
}

.button-icon {
  background-color: $shadow-color;
  font-size: 1.25em;
  padding: 7.5px;
  margin-right: 7.5px;
  cursor: pointer;
  border-radius: 50%;

  &:hover {
    @extend .t-primary--hover;
  }

  &:last-child {
    margin-right: 0;
  }

  a > & {
    margin-right: 7.5px !important;
  }
}