@import './styles/base';
@import "toastr";

body {
  background-color: $background-body;
  font-size: $font-size;
  color: $text-color;
}

#root {
  display: flex;
}

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.title {
  font-size: $title-1;
  font-weight: 400;

  &--large {
    font-size: $title-large;
  }
}

.box {
  background-color: $secundary;
  box-shadow: 0 0px 5px $shadow-color, 0 2px 0px $shadow-color;
}

.button-icon {
  background-color: $shadow-color;
  font-size: 1.25em;
  padding: 7.5px;
  margin-right: 7.5px;
  cursor: pointer;
  border-radius: 50%;

  &:hover {
    background-color: $primary-dark;
    color: $secundary;
  }

  &:last-child {
    margin-right: 0;
  }
}