@import './styles/base';
@import './styles/utils';
@import "toastr";

body {
  background-color: $background-body;
  font-size: $font-size;
  color: $text-color;
}

#root {
  display: flex;
}

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.title {
  font-size: $title-1;
  font-weight: 400;

  &--large {
    font-size: $title-large;
  }
}

.box {
  background-color: $secundary;
  @extend .u-shadows;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  &:disabled {
    background-color: transparent;
    color: $text-color-light;
  }
}